<h1>Menu</h1>
<input type="number" class="form-control mt-2" #nuevoDia>
<p> Opciones: <br>
    | 1. Turnero |
     2. Formulario |
     3. Meses del año |
     4. Botones Cambio de color texto |</p>
<button class="btn btn-primary mt-2 mb-4" (click)="dia = nuevoDia.value" >
    Opcion
</button>

<div [ngSwitch]="dia" *ngIf="dia" > <!--Si no tiene nada no aparecera el mesje de valor no valido-->
    <span *ngSwitchCase="1"><app-turnero></app-turnero></span>
    <span *ngSwitchCase="2"><app-formulario></app-formulario></span>
    <span *ngSwitchCase="3"><app-switch></app-switch></span>
    <span *ngSwitchCase="4"><app-botones></app-botones></span>
    <span *ngSwitchDefault>Valor no valido</span>
</div>
